
@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css);


* {
	box-sizing: border-box;
}

html, body{

font-size:10px;

}

body {
	font-size:1.6rem;
	font-family: 'Roboto Condensed', sans-serif;
	padding: 0 20px 200px;
	background-color: #f1f1f1;
}

h1 {
	font-size: 3em;
}

.container {
	width: 80rem;
	max-width: 90vw;
	margin: 0 auto;
}