.lista-filmes{ 
    .filme {
    position: relative;
    display: block;
    background-color: #FFF;
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    &.com-cartaz {
        overflow: hidden;
        padding-left: 200px;
    }
    .del {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        font-size: 20px;
        line-height: 10px;
        padding: 10px;
        font-weight: bold;
        overflow: hidden;
        color: #FC6E51;
        &:hover {
        color: #E9573F;
        }
        &:after {
        content: '\00D7';
        }
    }
    img {
        position: absolute;
        width: 180px;
        max-height: 260px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    h1 {
        margin: 0;
        font-size: 1.5em;
    }
    ul {
        padding: 0;
        list-style-position: inside;
    }
    p {
        margin: 0;
    }
 }
}