.form-filmes {
  @extend.form;
  @include outer-container(100%);
  margin-top: 30px;
  padding: 20px;
  background-color: #fff;
  h1 {
    font-size: 2em;
    margin-top: 0;
  }
  .title {
    @include span-columns(12);
  } 

  .ano{
    @include span-columns(3);
  }

  .produtora{
    @include span-columns(8);
    @include omega;
  }

  .cartaz{
    @include span-columns(6);
  }
  .sinopse{
    @include span-columns(12);
  }

  .preview-image{
    background-size:cover !important; 
    width:20rem; 
    height:20rem;
    border:solid 1px $colorOne;
    
  }

  .preview-cartaz{
    @include span-columns(5);
    display: flex;
    flex-direction: column;
    float:right;
  }

  footer {
    width:100%;
    display: flex;
    margin-top: 3rem;
    float:left;
    text-align: right;
    justify-content: space-between;
  }
 
}