<!DOCTYPE html>
<html ng-app="coffee">

<head>
    <meta charset="UTF-8">
    <title>Coffee Time</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">

    <link rel="stylesheet" href="styles/main.css">
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="bower_components/angular-locale-pt-br/angular-locale_pt-br.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-input-masks/angular-input-masks-standalone.js"></script>
    <script src="bower_components/string-mask/src/string-mask.js"></script>
    <script src="bower_components/br-masks/releases/br-masks.js"></script>
    <script src="bower_components/angular-br-filters/release/angular-br-filters.js"></script>
    <script src="bower_components/perfect-scrollbar/js/perfect-scrollbar.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/coffee.controller.js"></script>
    <script src="scripts/factorys/coffee.factory.js"></script>
    <script src="scripts/components/coffeeDirective/coffee.directive.js"></script>


</head>

<body>

    <div class="container" ng-controller="coffeeController">
        <div class="lista-coffees">
            <nav>
                <div class="nav-wrapper red darken-4">
                    <a href="#" class="brand-logo center">Cafeeiros da Inlog</a>
                </div>
            </nav>
            <div class="row  ">
                <div class="col s12 m6 center-align" style="margin-left: 300px;">
                    <div class="card blue-grey darken-1">
                        <div class="card-content white-text">
                            <span class="card-title">Próximo comprador:</span>
                            <h2>{{next_buyer.name}}</h2>
                            <p>Última compra efetuada em: {{next_buyer.last_buy | date:'dd/MM/yyyy'}}</p>
                        </div>
                       
                    </div>
                </div>
            </div>
            <ul id="coffee-menu" class="tabs center">
                <li class="tab col s6"><a href="#historico" class="active">Histórico</a></li>
                <li class="tab col s6"><a href="#novo">Inserir café</a></li>
                <li class="tab col s6"><a href="#ranking">Ranking</a></li>

            </ul>
            <div id="historico" class="col s12 coffee-tab">
                <div ng-repeat="user in usersList | orderBy:'-date'">
                    <div class="col s12 m7">
                        <h2 class="header">{{user.name}}</h2>
                        <div class="card horizontal">
                            <div class="card-image">
                                <img src="http://www.celeiro.com.br/cache/2/0/5/a/a/205aa37407bff757aed28274595a5d1cdb2787c6.png" height=50>
                            </div>
                            <div class="card-stacked">
                                <div class="card-content">
                                    <ul>
                                        <li><strong>Data: </strong>{{user.date | date:'dd/MM/yyyy hh:mm:ss'}}</li>
                                        <li><strong>Valor: </strong>{{user.value | currency}}</li>
                                        <li><strong>Quantidade: </strong>{{user.qtd}}</li>
                                        <li><strong>Tamanho: </strong>{{user.weight}} g</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div id="novo" class="col s12  coffee-tab">
                <div class="row">
                    <form class="col s12">
                        <div class="row">
                            <div class="input-field col s6">
                                <select id="cafeeiro" ng-model="userUpdate.id" ng-options="u.id as u.name for u in users" class="browser-default">
                                    <option value="">Cafeeiro</option>
                                </select>
                            </div>
                            <div class="input-field col s6">

                                <input id="date" type="date" ng-model="userUpdate.itens[0].date">
                            </div>
                            <div class="input-field col s6">
                                <input id="valor" type="text" name="valor " class="validate" ng-model="userUpdate.itens[0].value" ui-money-mask required>
                                <label for="valor">Valor</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="peso" type="number" class="validate" min="50" ng-model="userUpdate.itens[0].weight">
                                <label for="peso">Peso (g)</label>
                            </div>
                            <div class="input-field col s6">
                                <input id="quantidade" type="number" class="validate" min="1" ng-model="userUpdate.itens[0].qtd">
                                <label for="quantidade">Quantidade</label>

                            </div>

                        </div>
                        <a class="waves-effect waves-light btn" ng-click="updateUser(userUpdate)" style="float:right">Salvar</a>
                    </form>
                </div>

            </div>
            <div id="ranking" class="col s12  coffee-tab">

                <div class="collection">
                    <a href="#!" class="collection-item" ng-repeat="user in users | orderBy:'-totalQtd' "><span class="badge">
                        {{user.totalQtd}} <span ng-if="user.totalQtd != 1">Cafés</span><span ng-if="user.totalQtd == 1">Café</span></span>
                        {{$index + 1}}º {{user.name}}
                    </a>
                </div>
            </div>

        </div>



    </div>

</body>

</html>