@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,400italic,700,700italic,300italic);

$colorBg: #f2f2f2;
$colorFont: #797979;
$colorFontNeutral: #9c9c9c;

$colorFont: #333333;
$colorFontNeutral: #666666;

$colorNeutralBg: #efefef;
$colorNeutralBd: #cccccc;

$colorMain: #b4d6ee;
$colorMainDarken: #059cc7;
$colorMainLigth: #eef8fc;
$colorIcons: #3a7999;

$colorMainFeat: #428bca;
$colorMainRoyal: #397999;

$colorHovered: #ffffd9;

$colorInfo: #059cc7;
$colorWarning: #dd9b67;
$colorError: #ff665a;
$colorSuccess: #a3d06d;


$FontColor: #585858;
$FontColorTwo: #e8b41d;
$FontWhite: #FFF;

$ColorTwo: #ffcb08;
$colorOne: #333;

$fontLight: 300;
$fontRegular: 400;
$fontBold: 700;

@mixin omega-reset($nth) {
    &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
    &:nth-child(#{$nth}+1) { clear: none }
}


@mixin vertical-align($direction) {
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
    @include flex-direction($direction);
}
